name: SSH deploy to Hosting
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP 8.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, zip

      - name: rsync deploy
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete --exclude=".env" --exclude="/vendor/" --exclude="/storage/"
          path: .
          remote_host: ${{ secrets.REMOTE_HOST }}
          remote_user: ${{ secrets.REMOTE_USER }}
          remote_key: ${{ secrets.REMOTE_KEY }}
          remote_key_pass: ${{ secrets.REMOTE_KEY_PASS }}
          remote_path: ${{ secrets.REMOTE_PATH }}

      - name: SSH into server and setup Laravel
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_KEY }}
          passphrase: ${{ secrets.REMOTE_KEY_PASS }}
          script: |
            cd ${{ secrets.REMOTE_PATH }}
            export PATH=/usr/local/php82/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
            php artisan migrate --force
            php artisan storage:link
